body {
	background-color: rgb(232, 198, 145);
	font-family: 'Roboto', sans-serif;

	color: rgb(47, 28, 0);

	margin: 20px;
}

nav {
	border: 10px solid black;
	margin: 1px;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#nav li {
	display: inline;
	margin: 10px;
}

.article {
	border: 1px solid black;
	margin: 3px;
}